* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

/* [data-state="checked"] .chakra-switch__control {
  background-color: #de473f !important;
} */

[data-state="unchecked"].chakra-switch__control {
  background-color: #545969 !important;
}